.post {
  position:relative;
  height: 500px;
  width: 300px;
  display:flex;
  align-items: flex-end;
  padding:15px;
  border-radius: 26px;
  text-decoration: none;
  transition: all .6s ease-in-out ;
  overflow:hidden;
  animation: fadeInUp .6s;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1);
  
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 1024px) {
  .post {
    height: 570px;
    width: unset
  }
}



@keyframes fadeInUp {
  0% {
    opacity:0;
    scale:translateY(20px)
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}

.post::after {
  content: linear-gradient(transparent, rgba(0,0,0,0.6) 80%,rgba(0,0,0,0.9));
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.post:hover {
  transform: scale(1.1);
}
.post {

  background-size: 150%;
}

.post:hover {
  background-size: 155%;
}

.title {
  color:white;
  z-index: 2;
  font-size: 22px;

  font-weight: 600;
  text-decoration: none;
}