.posts {
  width:100%;
  max-width: 1280px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin:20px 0;
}

@media (min-width:1024px) {
  .posts {
    grid-template-columns: repeat(4, 1fr);
    order:3;
  }
}

.post {
  height:160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  align-items: flex-end;
  padding:15px;
  border-radius:10px;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.post:hover {
  transform: translateY(-10px);
}

.title {
  color:white;
  font-weight: 600;
}